<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.medicinalinfo.mapper.WptpMedicinalMapper">

    <select id="getDescMedicineCode" resultType="String">
        SELECT medicinal_code FROM `wptp_medicinal` ORDER BY medicinal_code Desc LIMIT 0,1
    </select>
</mapper>