<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.province.mapper.WptpCityMapper">

    <select id="listByCityNameAndProvinceId" resultType="org.jeecg.modules.demo.province.entity.WptpCity" parameterType="org.jeecg.modules.demo.province.entity.WptpCity">
SELECT  *
FROM wptp_city
WHERE  CITY_NAME
like CONCAT('%',#{wptpCity.cityName},'%')
and PROVINCE_ID=#{wptpCity.provinceId}
    </select>
</mapper>