<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.ypbinstock.mapper.WptpYpbInstockFileMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  wptp_ypb_instock_file 
		WHERE
			 main_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.ypbinstock.entity.WptpYpbInstockFile">
		SELECT * 
		FROM  wptp_ypb_instock_file
		WHERE
			 main_id = #{mainId} 	</select>
</mapper>
